<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak</title>
</head>
<body>
    <h1>Zadataća 1:</h1>
    <p>Nacrtati kružnicu zadatu pomoću dvije tačke:</p>
    <ul>
        <li>Prva tačka predstavlja centar kružnice.</li>
        <li>Druga tačka definiše poluprečnik, koji je udaljenost između prve i druge tačke.</li>
    </ul>
    <p>Provjeriti da li kružnica može stati u zadani kanvas. Ako ne može, ispisati poruku ispod kanvasa:</p>
    <blockquote>"Kružnica ne može stati unutar kanvasa."</blockquote>
    <p>Prikazati poluprečnik:</p>
    <p>Implementirati sljedeće geometrijske testove:</p>
    <ol>
        <li>
            <strong>Provjera tačke:</strong> Za zadanu tačku provjeriti da li se nalazi unutar, van ili na kružnici. Potom ispisati:
            <ul>
                <li>"Tačka se nalazi unutar kružnice."</li>
                <li>"Tačka se nalazi van kružnice."</li>
                <li>"Tačka se nalazi na kružnici."</li>
            </ul>
        </li>
        <li>
            <strong>Provjera segmenta:</strong> Za zadani segment provjeriti da li se nalazi unutar, van ili siječe kružnicu:
            <ul>
                <li>"Segment je unutar kružnice."</li>
                <li>"Segment je van kružnice."</li>
                <li>"Segment siječe kružnicu."</li>
            </ul>
        </li>
    </ol>
    <p><strong>Obratiti pažnju na:</strong></p>
    <ul>
        <li>Ako su tačke koje definišu kružnicu (centar i druga tačka) iste, poluprečnik kružnice je nula. U tom slučaju, ispisati poruku:</li>
        <blockquote>"Poluprečnik kružnice je nula – nije moguće nacrtati kružnicu."</blockquote>
        <li>Obratiti pažnju na čitljivost koda, uključujući pravilno imenovanje funkcija i varijabli, te komentare koji objašnjavaju logiku (ukoliko je potrebno).</li>
    </ul>
    <p><strong>Napomena:</strong></p>
    <p>Ova zadaća nosi 1/5 bodova zadaća na vježbama. Zadaće nose 30% bodova na vježbama a projekat 70% bodova na vježbama.</p>
    <p>Sretno sa zadaćom i obratite pažnju na sve detalje!</p>
</body>
</html>
