<h1>CG FrameWork - vježbe na predmetu kompjutaciona geometrija, akademska godina: 2024/25</h1>
<app-header></app-header>
<router-outlet></router-outlet>
<h1>Predmet: Kompjutaciona geometrija</h1>
	<h4>Termin vježbi: 2 časa sedmično. Način izvođenja: <b>Uživo </b>ili online</h4>
	<hr>
	<h2>Ocjenjivanje:</h2>
	<h3>Vježbe: zadaća x 5 (30% vježbi) & završni projekat (70% vježbi)</h3>
	<h4>Zadaće i projekte je potrebno braniti. Svaki student će braniti projekat i barem jednu zadaću. </h4>
	<h4>Svaka od zadaća nosti isti broj bodova. Moguće je dobiti i parcijalan broj bodova.</h4>
	<h4>Student na svakom dijelu treba imati barem 55% kako bi uspješno položio predmet</h4>
	<hr>
	<h3>Vježbe i kodiranje će se raditi u js/ ts-u programskom jeziku, i to koristeći FrameWork Angular</h3>
	<h3>Kod svakih vježbi će biti objavljen na github repozitoriju i dostupan studentima</h3>
	<h3>Alikaciji, posljednoj verziji, će biti moguće pristupiti putem linka (vidi link u browseru)</h3>
	<h4>Predavanje zadaća i projekta će se vršiti putem git- a, a na način koji će biti naknadno objašnjen</h4>
	<h4>Zadaće će biti objavljene na aplikaciji i teams kanalu.</h4>
	<hr>
	<p>Vježbe po sedmicama:</p>
	<ul>
		<li>Uvod u strukture podataka u TypeScript-u<br>
			Definisanje klasa za tačke, segmente i poligone. Zadaci za vježbu: kreiranje i manipulacija strukturama tačke, segmenta, kruga, trougla,
			četverougla i poligona.
		</li>
	</ul>
        
        